
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  font-size:1.5em;
  text-align:center;
  background-color:#b5a4ca;
  color:#000;
  
}


.container {
    max-width: 100%;
    margin: 0 auto;
  background-color: antiquewhite;
}
.grid {
    display: grid;
    margin-left: 0.5px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0.2em;
    justify-content: center;
}

.button
 {
  width: 150px; 
  height: 40px;
 }

 .input {
  width:  50%;
  height: 40px;
 }

 h2 {
    color: aqua;
 }